.container {
  display: flex;

  .sideMenu {
    padding: 16px;
    width: 280px;
  }

  .listContainer {
    padding: 8px 16px;
    width: 100%;
  }

  .searchInputContainer {
    padding-bottom: 8px;

    .searchInput {
      padding: 16px 20px;
      font-size: 16px;
      border-radius: 6px;
      width: 100%;
      border: none;
      background-color: #eee;
    }
  }

  .table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;

    .signerImage {
      display: inline-flex;
      width: 36px;
      height: 36px;
      background-color: #0288d1;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      border-radius: 50%;
      font-weight: bold;
      color: #fff;
    }

    .signerOrganization {
      display: inline-flex;
      height: 36px;
      vertical-align: top;
      align-items: center;
      padding-left: 16px;
    }

    th, td {
      padding: 16px;
      width: 16%;
    }

    tbody tr:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }

    .overflow {
      max-width: 0;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    th {
      border-bottom: 1px solid #e0e0e0;
    }
  }
}
