@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 21px;
  color: #212121;
  letter-spacing: 0.025rem;
}